body {
  margin: 0;
  padding: 0;
}
.main_container {
}
.sub_container {
  display: flex;
}
.registration {
  border: 1px solid black;
}
.statusBar_container {
  border: 1px solid black;
}
.playerList_container {
  border: 1px solid black;
}
.giftStatus_container {
  border: 1px solid black;
}
